Installation

pip install sqlalchemy

Connection

In [1]:
from sqlalchemy import create_engine

In [2]:
engine = create_engine("sqlite:///testdb.sqlite", echo=True, convert_unicode=True)

Mapping

In [3]:
from sqlalchemy.ext.declarative import declarative_base

In [4]:
Base = declarative_base()

Defining models

| User                         ||
| :------------ | :-----------: |
| user_id       | int           |
| user_name     | varchar(32)   |
| user_email    | varchar(32)   |

| Program                      ||
| :------------ | :-----------: |
| program_id    | int           |
| program_name  | varchar(32)   |
| user_id       | varchar(32)   |

| ProgramEnrollment            ||
| :------------ | :-----------: |
| program_id    | int           |
| user_id       | int           |

In [5]:
from sqlalchemy import Column, Integer, String

In [6]:
class User(Base):
    __tablename__ = "user"
    user_id = Column(Integer, primary_key=True)
    user_name = Column(String(32), unique=True)
    user_email = Column(String(32), unique=True)
    
    def __init__(self, user_name, user_email):
        self.user_name = user_name
        self.user_email = user_email
    
    def __repr__(self):
        return "<User('%s', '%s')>" % (self.user_name, self.user_email)

In [7]:
class Program(Base):
    __tablename__ = "speaker"
    program_id = Column(Integer, primary_key=True)
    user_id = Column(Integer, unique=True)
    
    def __init__(self, program_id, user_id):
        self.program_id = program_id
        self.user_id = user_id
        
    def __repr__(self):
        return "<Program('%d', '%d')" % (self.program_id, self.user_id)

In [8]:
class ProgramEnrollment(Base):
    __tablename__ = "program_entrollment"
    program_id = Column(Integer, primary_key = True)
    user_id = Column(Integer, primary_key = True)   
    
    def __init__(self, program_id, user_id):
        self.program_id = program_id
        self.user_id = user_id
    
    def __repr__(self):
        return "<ProgramEnrollment('%s', '%s')" % (self.program_id, self.user_id)

Metadata

In [9]:
User.__table__

Table('user', MetaData(bind=None), Column('user_id', Integer(), table=<user>, primary_key=True, nullable=False), Column('user_name', String(length=32), table=<user>), Column('user_email', String(length=32), table=<user>), schema=None)

In [10]:
Program.__table__

Table('speaker', MetaData(bind=None), Column('program_id', Integer(), table=<speaker>, primary_key=True, nullable=False), Column('user_id', Integer(), table=<speaker>), schema=None)

In [11]:
ProgramEnrollment.__table__

Table('program_entrollment', MetaData(bind=None), Column('program_id', Integer(), table=<program_entrollment>, primary_key=True, nullable=False), Column('user_id', Integer(), table=<program_entrollment>, primary_key=True, nullable=False), schema=None)

Mapper Class

In [12]:
User.__mapper__

In [13]:
Program.__mapper__

In [14]:
ProgramEnrollment.__mapper__

Create databae

In [15]:
Base.metadata.create_all(bind=engine)

2017-07-23 22:40:13,831 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-07-23 22:40:13,843 INFO sqlalchemy.engine.base.Engine ()
2017-07-23 22:40:13,848 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-07-23 22:40:13,850 INFO sqlalchemy.engine.base.Engine ()
2017-07-23 22:40:13,854 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("user")
2017-07-23 22:40:13,856 INFO sqlalchemy.engine.base.Engine ()
2017-07-23 22:40:13,861 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("speaker")
2017-07-23 22:40:13,863 INFO sqlalchemy.engine.base.Engine ()
2017-07-23 22:40:13,868 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("program_entrollment")
2017-07-23 22:40:13,870 INFO sqlalchemy.engine.base.Engine ()
2017-07-23 22:40:13,873 INFO sqlalchemy.engine.base.Engine
CREATE TABLE user (
	user_id INTEGER NOT NULL,
	user_name VARCHAR(32),
	user_email VARCHAR(32),
	PRIMARY KEY (user_id),
	UNIQUE (user_name),
	UNIQUE (user_email)
)


2017-07-23 22:40:13,875 INFO sqlalchemy.engine.base.Engine ()
2017-07-23 22:40:13,910 INFO sqlalchemy.engine.base.Engine COMMIT
2017-07-23 22:40:13,913 INFO sqlalchemy.engine.base.Engine
CREATE TABLE speaker (
	program_id INTEGER NOT NULL,
	user_id INTEGER,
	PRIMARY KEY (program_id),
	UNIQUE (user_id)
)


2017-07-23 22:40:13,915 INFO sqlalchemy.engine.base.Engine ()
2017-07-23 22:40:13,949 INFO sqlalchemy.engine.base.Engine COMMIT
2017-07-23 22:40:13,952 INFO sqlalchemy.engine.base.Engine
CREATE TABLE program_entrollment (
	program_id INTEGER NOT NULL,
	user_id INTEGER NOT NULL,
	PRIMARY KEY (program_id, user_id)
)


2017-07-23 22:40:13,954 INFO sqlalchemy.engine.base.Engine ()
2017-07-23 22:40:13,978 INFO sqlalchemy.engine.base.Engine COMMIT

Session

In [16]:
from sqlalchemy.orm import sessionmaker

1. create Session class

In [17]:
Session1 = sessionmaker(bind=engine)

In [18]:
Session1

sessionmaker(class_='Session',bind=Engine(sqlite:///testdb.sqlite), autoflush=True, autocommit=False, expire_on_commit=True)

2.

In [19]:
Session2 = sessionmaker()

In [20]:
Session2

sessionmaker(class_='Session',bind=None, autoflush=True, autocommit=False, expire_on_commit=True)

In [21]:
Session2.configure(bind=engine)

In [22]:
Session2

sessionmaker(class_='Session',bind=Engine(sqlite:///testdb.sqlite), autoflush=True, autocommit=False, expire_on_commit=True)

In [23]:
session = Session1()

In [24]:
session

Insert

In [25]:
user = User("Yeongseon Choe", "yeongseon.choe@gmail.com")

In [26]:
user

In [27]:
session.add(user)
session.commit()

2017-07-23 22:40:14,365 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-07-23 22:40:14,370 INFO sqlalchemy.engine.base.Engine INSERT INTO user (user_name, user_email) VALUES (?, ?)
2017-07-23 22:40:14,373 INFO sqlalchemy.engine.base.Engine ('Yeongseon Choe', 'yeongseon.choe@gmail.com')
2017-07-23 22:40:14,383 INFO sqlalchemy.engine.base.Engine COMMIT

In [28]:
session.add_all([
    User("Noah", "Noah@test.com"),
    User("Liam", "Liam@test.com"),
    User("Ethan", "Ethan@test.com")]
)
session.commit()

2017-07-23 22:40:14,428 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-07-23 22:40:14,430 INFO sqlalchemy.engine.base.Engine INSERT INTO user (user_name, user_email) VALUES (?, ?)
2017-07-23 22:40:14,432 INFO sqlalchemy.engine.base.Engine ('Noah', 'Noah@test.com')
2017-07-23 22:40:14,446 INFO sqlalchemy.engine.base.Engine INSERT INTO user (user_name, user_email) VALUES (?, ?)
2017-07-23 22:40:14,447 INFO sqlalchemy.engine.base.Engine ('Liam', 'Liam@test.com')
2017-07-23 22:40:14,449 INFO sqlalchemy.engine.base.Engine INSERT INTO user (user_name, user_email) VALUES (?, ?)
2017-07-23 22:40:14,451 INFO sqlalchemy.engine.base.Engine ('Ethan', 'Ethan@test.com')
2017-07-23 22:40:14,453 INFO sqlalchemy.engine.base.Engine COMMIT

Bulk Inserts

In [29]:
user1 = User("Lucas", "Lucas@test.com")
user2 = User("Oliver", "Oliver@test.com")
user3 = User("James", "James@test.com")

session.bulk_save_objects([user1, user2, user3])
session.commit()

2017-07-23 22:40:14,502 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-07-23 22:40:14,505 INFO sqlalchemy.engine.base.Engine INSERT INTO user (user_name, user_email) VALUES (?, ?)
2017-07-23 22:40:14,510 INFO sqlalchemy.engine.base.Engine (('Lucas', 'Lucas@test.com'), ('Oliver', 'Oliver@test.com'), ('James', 'James@test.com'))
2017-07-23 22:40:14,521 INFO sqlalchemy.engine.base.Engine COMMIT

query

attributes
- all
- filter
- filter_by

In [32]:
users = session.query(User).all()

2017-07-23 22:41:42,231 INFO sqlalchemy.engine.base.Engine SELECT user.user_id AS user_user_id, user.user_name AS user_user_name, user.user_email AS user_user_email
FROM user
2017-07-23 22:41:42,234 INFO sqlalchemy.engine.base.Engine ()

In [33]:
print(users)

[<User('Yeongseon Choe', 'yeongseon.choe@gmail.com')>, <User('Noah', 'Noah@test.com')>, <User('Liam', 'Liam@test.com')>, <User('Ethan', 'Ethan@test.com')>, <User('Lucas', 'Lucas@test.com')>, <User('Oliver', 'Oliver@test.com')>, <User('James', 'James@test.com')>]

Iterator

In [34]:
for user in session.query(User):
    print(user)

2017-07-23 22:42:41,698 INFO sqlalchemy.engine.base.Engine SELECT user.user_id AS user_user_id, user.user_name AS user_user_name, user.user_email AS user_user_email
FROM user
2017-07-23 22:42:41,701 INFO sqlalchemy.engine.base.Engine ()
<User('Yeongseon Choe', 'yeongseon.choe@gmail.com')>
<User('Noah', 'Noah@test.com')>
<User('Liam', 'Liam@test.com')>
<User('Ethan', 'Ethan@test.com')>
<User('Lucas', 'Lucas@test.com')>
<User('Oliver', 'Oliver@test.com')>
<User('James', 'James@test.com')>

In [42]:
for user in session.query(User).order_by(User.user_email):
    print(user)

2017-07-23 22:50:18,608 INFO sqlalchemy.engine.base.Engine SELECT user.user_id AS user_user_id, user.user_name AS user_user_name, user.user_email AS user_user_email
FROM user ORDER BY user.user_email
2017-07-23 22:50:18,611 INFO sqlalchemy.engine.base.Engine ()
<User('Ethan', 'Ethan@test.com')>
<User('James', 'James@test.com')>
<User('Liam', 'Liam@test.com')>
<User('Lucas', 'Lucas@test.com')>
<User('Noah', 'Noah@test.com')>
<User('Oliver', 'Oliver@test.com')>
<User('Yeongseon Choe', 'yeongseon.choe@gmail.com')>

Decending

In [44]:
from sqlalchemy import desc
for user in session.query(User).order_by(desc(User.user_email)):
    print(user)

2017-07-23 22:51:34,577 INFO sqlalchemy.engine.base.Engine SELECT user.user_id AS user_user_id, user.user_name AS user_user_name, user.user_email AS user_user_email
FROM user ORDER BY user.user_email DESC
2017-07-23 22:51:34,579 INFO sqlalchemy.engine.base.Engine ()
<User('Yeongseon Choe', 'yeongseon.choe@gmail.com')>
<User('Oliver', 'Oliver@test.com')>
<User('Noah', 'Noah@test.com')>
<User('Lucas', 'Lucas@test.com')>
<User('Liam', 'Liam@test.com')>
<User('James', 'James@test.com')>
<User('Ethan', 'Ethan@test.com')>

query filter

Usage: .filter(<질의 클래스.질의 칼럼> <비교연산자> <비교값>)

In [39]:
session.query(User).filter(User.user_name == 'Noah').all()

2017-07-23 22:48:13,304 INFO sqlalchemy.engine.base.Engine SELECT user.user_id AS user_user_id, user.user_name AS user_user_name, user.user_email AS user_user_email
FROM user
WHERE user.user_name = ?
2017-07-23 22:48:13,307 INFO sqlalchemy.engine.base.Engine ('Noah',)

In [40]:
session.query(User).filter(User.user_name == 'Noah').first()

2017-07-23 22:48:22,700 INFO sqlalchemy.engine.base.Engine SELECT user.user_id AS user_user_id, user.user_name AS user_user_name, user.user_email AS user_user_email
FROM user
WHERE user.user_name = ?
 LIMIT ? OFFSET ?
2017-07-23 22:48:22,703 INFO sqlalchemy.engine.base.Engine ('Noah', 1, 0)

In [41]:
session.query(User).filter(User.user_name >= 'Noah').all()

2017-07-23 22:48:40,043 INFO sqlalchemy.engine.base.Engine SELECT user.user_id AS user_user_id, user.user_name AS user_user_name, user.user_email AS user_user_email
FROM user
WHERE user.user_name >= ?
2017-07-23 22:48:40,046 INFO sqlalchemy.engine.base.Engine ('Noah',)

[<User('Noah', 'Noah@test.com')>,
 <User('Oliver', 'Oliver@test.com')>,
 <User('Yeongseon Choe', 'yeongseon.choe@gmail.com')>]