![title.png](./img/title.png)

<img src='img/about.png'>
    https://ep2017.europython.eu/conference/talks/how-sap-is-using-python-to-test-its-database-sap-hana


<img align="middle" src="https://2.bp.blogspot.com/-u5RzeZjX5Ew/T7CzT9vFgyI/AAAAAAAABJ8/fDbn24qYajg/s1600/Isaac-Newton.jpg" >

<div style="text-align: center">"If I have seen future, it is by importing from the code of giants" </div>
<div style="text-align: right"> Definitely Not isaac Newton </div>

## Contens

### 1. Python DB API
### 2. SQLAlchemy
### 3. Alembic

## Database Programming 
<br>
- Connection/Disconnection database
- Creating/Deleting database table
- Inserting/Reading/Updating/Deleting records
- Commit/Rollback

#### Example

- Define Tables

| Users                        ||
| :------------ | :-----------: |
| user_id       | int           |
| user_name     | varchar(32)   |
| user_email    | varchar(32)   |

## Python DB API

- PEP 0249 -- Python Database API Specification v2.0
- Python modules are used to access database
- There are many DBAPI implementations availabls

In [1]:
import sqlite3
conn = sqlite3.connect('dbapi.sqlite')

curs = conn.cursor()
sql_stmt = """
CREATE TABLE users (
user_id integer primary key autoincrement,
user_name text not null,
user_email text not null);
"""
curs.execute(sql_stmt)
conn.commit()

sql_stmt = """
INSERT INTO users (user_name, user_email)
VALUES ('최영선', 'yeongseon.choe@pycon.kr')
"""
curs.execute(sql_stmt)
conn.commit()

sql_stmt = """
SELECT * FROM users;
"""
curs.execute(sql_stmt)
for row in curs.fetchall():
    print(row)
conn.close()

(1, '최영선', 'yeongseon.choe@pycon.kr')

- Change to another database...

<pre>
import MySQLdb <br>
conn = MySQLdb.connect (host="localhost", user="root", password="password", db="database")
curs = conn.cursor()
sql_stmt = """
CREATE TABLE users (
user_id integer primary key autoincrement,
user_name text not null,
user_email text not null);
"""
curs.execute(sql_stmt)
conn.commit() <br>
sql_stmt = """
INSERT INTO users (user_name, user_email)
VALUES ('최영선', 'yeongseon.choe@pycon.kr')
"""
curs.execute(sql_stmt)
conn.commit() <br>
sql_stmt = """
SELECT * FROM users;
"""
curs.execute(sql_stmt)
for row in curs.fetchall():
    print(row)
conn.close()

## What is the SQLAlchemy ?


- The database toolkit for Python
- Supoort multiple database
- Object Relational Mapper(ORM) implementation
- End-to-end system for working with Python DBAPI, relational database, and the SQL language
- Wirtten by Mike Bayer
- Introducted 2005
- SQLAlchemy 1.2.0b2 released (Jul 2017)

## SQLAlchemy Layer

### Core
- Includes Python Database API (DBAPI) interaction

### ORM
- specific library built on top of the Core

<img src='img/SQLAlchemy_layer_diagram.png'>

### Installing SQLAlchemy

$ pip install sqlalchemy

### Version Check

In [2]:
import sqlalchemy

print( sqlalchemy.__version__)

1.1.11

### Connectiong

In [3]:
from sqlalchemy import create_engine

engine = create_engine("sqlite:///sqlalchemy.sqlite", echo=True, convert_unicode=True)

print(engine)

Engine(sqlite:///sqlalchemy.sqlite)

#### Suport for multiple databases
- mysql
create_engine('mysql+mysql://username:password@host/dbname')
- postgresql
create_engine('postgresql+pyconpg2://username:password@host/dbname')
- hana
create_engine('hana+hdbcli://username:password@host')

In [4]:
engin_dbapi = create_engine("sqlite:///dbapi.sqlite")
result = engin_dbapi.execute("select * from users")
result.fetchall()

[(1, '최영선', 'yeongseon.choe@pycon.kr')]

### Declaring a Mapping

- A Table that represents a table in a database
- A mapper that maps a Python class to a table in database
- A class object that defines how a database record maps to a normal Python object

<img src='img/orm.png'>

#### Define Models

| Users                        ||
| :------------ | :-----------: |
| user_id       | int           |
| user_name     | varchar(32)   |
| user_email    | varchar(32)   |

In [5]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String

Base = declarative_base()

class User(Base):
    __tablename__ = "users"
    user_id = Column(Integer, primary_key=True,  autoincrement=True)
    user_name = Column(String(32), unique=True)
    user_email = Column(String(32), unique=True)
    
    def __init__(self, user_name, user_email):
        self.user_name = user_name
        self.user_email = user_email
    
    def __repr__(self):
        return "<User('%d', '%s, %s')>" % (self.user_id, self.user_name, self.user_email)

#### Basic Types

- Integer: basic integer type, generates INT
- String : ASCII strings, generated VARCHAR
- Unicode : Unicode strings, generates VARCHAR, NVARCHAR depending on database
- Boolean : generages BOOLEAN
- DateTime : generates DATATIME or TIMESTAMP
- Float : flating point values
- Numeric : precision numberics using Python

### Creating a Schema

In [6]:
User.__table__

Table('users', MetaData(bind=None), Column('user_id', Integer(), table=<users>, primary_key=True, nullable=False), Column('user_name', String(length=32), table=<users>), Column('user_email', String(length=32), table=<users>), schema=None)

In [7]:
Base.metadata.create_all(bind=engine)

2017-08-13 07:43:16,774 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-08-13 07:43:16,775 INFO sqlalchemy.engine.base.Engine ()
2017-08-13 07:43:16,777 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-08-13 07:43:16,778 INFO sqlalchemy.engine.base.Engine ()
2017-08-13 07:43:16,779 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2017-08-13 07:43:16,781 INFO sqlalchemy.engine.base.Engine ()
2017-08-13 07:43:16,783 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	user_id INTEGER NOT NULL,
	user_name VARCHAR(32),
	user_email VARCHAR(32),
	PRIMARY KEY (user_id),
	UNIQUE (user_name),
	UNIQUE (user_email)
)


2017-08-13 07:43:16,785 INFO sqlalchemy.engine.base.Engine ()
2017-08-13 07:43:16,820 INFO sqlalchemy.engine.base.Engine COMMIT

### Creating a Session

In [8]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)

session = Session()

print(session)

<sqlalchemy.orm.session.Session object at 0x06037A30>

In [9]:
session.close()

### Adding and Updating Object

#### Adding Objects

In [10]:
Session = sessionmaker(bind=engine)

session = Session()

user = User("최영선", "yeongseon.choe@pycon.kr")

session.add(user)
session.commit()

2017-08-13 07:43:16,917 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-13 07:43:16,919 INFO sqlalchemy.engine.base.Engine INSERT INTO users (user_name, user_email) VALUES (?, ?)
2017-08-13 07:43:16,920 INFO sqlalchemy.engine.base.Engine ('최영선', 'yeongseon.choe@pycon.kr')
2017-08-13 07:43:16,940 INFO sqlalchemy.engine.base.Engine COMMIT

In [11]:
session.add_all([
    User("배준현", "junhyun.bae@pycon.kr"),
    User("김준기", "joongi.kim@pycon.kr")]
)
session.commit()

2017-08-13 07:43:16,964 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-13 07:43:16,965 INFO sqlalchemy.engine.base.Engine INSERT INTO users (user_name, user_email) VALUES (?, ?)
2017-08-13 07:43:16,969 INFO sqlalchemy.engine.base.Engine ('배준현', 'junhyun.bae@pycon.kr')
2017-08-13 07:43:16,991 INFO sqlalchemy.engine.base.Engine INSERT INTO users (user_name, user_email) VALUES (?, ?)
2017-08-13 07:43:16,993 INFO sqlalchemy.engine.base.Engine ('김준기', 'joongi.kim@pycon.kr')
2017-08-13 07:43:16,996 INFO sqlalchemy.engine.base.Engine COMMIT

In [12]:
user1 = User("강대성", "daesung.kang@pycon.kr")
user2 = User("한성준", "sungjun.han@pycon.kr")

session.bulk_save_objects([user1, user2])
session.commit()

2017-08-13 07:43:17,023 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-13 07:43:17,025 INFO sqlalchemy.engine.base.Engine INSERT INTO users (user_name, user_email) VALUES (?, ?)
2017-08-13 07:43:17,026 INFO sqlalchemy.engine.base.Engine (('강대성', 'daesung.kang@pycon.kr'), ('한성준', 'sungjun.han@pycon.kr'))
2017-08-13 07:43:17,049 INFO sqlalchemy.engine.base.Engine COMMIT

#### Updating Objects

In [13]:
user = session.query(User).filter_by().first() 
print(user)

2017-08-13 07:43:17,078 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-13 07:43:17,080 INFO sqlalchemy.engine.base.Engine SELECT users.user_id AS users_user_id, users.user_name AS users_user_name, users.user_email AS users_user_email
FROM users
 LIMIT ? OFFSET ?
2017-08-13 07:43:17,081 INFO sqlalchemy.engine.base.Engine (1, 0)
<User('1', '최영선, yeongseon.choe@pycon.kr')>

In [14]:
user.user_name = 'Yeongseon Choe'
print(user)
session.commit()

<User('1', 'Yeongseon Choe, yeongseon.choe@pycon.kr')>
2017-08-13 07:43:17,132 INFO sqlalchemy.engine.base.Engine UPDATE users SET user_name=? WHERE users.user_id = ?
2017-08-13 07:43:17,133 INFO sqlalchemy.engine.base.Engine ('Yeongseon Choe', 1)
2017-08-13 07:43:17,156 INFO sqlalchemy.engine.base.Engine COMMIT

In [15]:
user = session.query(User).filter_by().first() 
print(user)

2017-08-13 07:43:17,199 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-13 07:43:17,201 INFO sqlalchemy.engine.base.Engine SELECT users.user_id AS users_user_id, users.user_name AS users_user_name, users.user_email AS users_user_email
FROM users
 LIMIT ? OFFSET ?
2017-08-13 07:43:17,203 INFO sqlalchemy.engine.base.Engine (1, 0)
<User('1', 'Yeongseon Choe, yeongseon.choe@pycon.kr')>

### Rolling Back

In [16]:
user = User("김태환", "taehwan.kim@pycon.kr")
session.add(user)

session.rollback()

2017-08-13 07:43:17,266 INFO sqlalchemy.engine.base.Engine ROLLBACK

### Querying

- A Query object is created using the query() method on Session.

In [17]:
query = session.query(User)

print(query)

SELECT users.user_id AS users_user_id, users.user_name AS users_user_name, users.user_email AS users_user_email
FROM users

In [18]:
for user in session.query(User):
    print(user)

2017-08-13 07:43:17,351 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-13 07:43:17,352 INFO sqlalchemy.engine.base.Engine SELECT users.user_id AS users_user_id, users.user_name AS users_user_name, users.user_email AS users_user_email
FROM users
2017-08-13 07:43:17,353 INFO sqlalchemy.engine.base.Engine ()
<User('1', 'Yeongseon Choe, yeongseon.choe@pycon.kr')>
<User('2', '배준현, junhyun.bae@pycon.kr')>
<User('3', '김준기, joongi.kim@pycon.kr')>
<User('4', '강대성, daesung.kang@pycon.kr')>
<User('5', '한성준, sungjun.han@pycon.kr')>

- order_by

In [19]:
for user in session.query(User).order_by(User.user_email):
    print(user)

2017-08-13 07:43:17,392 INFO sqlalchemy.engine.base.Engine SELECT users.user_id AS users_user_id, users.user_name AS users_user_name, users.user_email AS users_user_email
FROM users ORDER BY users.user_email
2017-08-13 07:43:17,393 INFO sqlalchemy.engine.base.Engine ()
<User('4', '강대성, daesung.kang@pycon.kr')>
<User('3', '김준기, joongi.kim@pycon.kr')>
<User('2', '배준현, junhyun.bae@pycon.kr')>
<User('5', '한성준, sungjun.han@pycon.kr')>
<User('1', 'Yeongseon Choe, yeongseon.choe@pycon.kr')>

descending order

In [20]:
from sqlalchemy import desc
for user in session.query(User).order_by(desc(User.user_email)):
    print(user)

2017-08-13 07:43:17,486 INFO sqlalchemy.engine.base.Engine SELECT users.user_id AS users_user_id, users.user_name AS users_user_name, users.user_email AS users_user_email
FROM users ORDER BY users.user_email DESC
2017-08-13 07:43:17,487 INFO sqlalchemy.engine.base.Engine ()
<User('1', 'Yeongseon Choe, yeongseon.choe@pycon.kr')>
<User('5', '한성준, sungjun.han@pycon.kr')>
<User('2', '배준현, junhyun.bae@pycon.kr')>
<User('3', '김준기, joongi.kim@pycon.kr')>
<User('4', '강대성, daesung.kang@pycon.kr')>

- fileter_by

In [21]:
user = session.query(User).filter_by(user_name='Yeongseon Choe').first() 
user.user_name = '최영선'
session.commit()

2017-08-13 07:43:17,622 INFO sqlalchemy.engine.base.Engine SELECT users.user_id AS users_user_id, users.user_name AS users_user_name, users.user_email AS users_user_email
FROM users
WHERE users.user_name = ?
 LIMIT ? OFFSET ?
2017-08-13 07:43:17,623 INFO sqlalchemy.engine.base.Engine ('Yeongseon Choe', 1, 0)
2017-08-13 07:43:17,625 INFO sqlalchemy.engine.base.Engine UPDATE users SET user_name=? WHERE users.user_id = ?
2017-08-13 07:43:17,628 INFO sqlalchemy.engine.base.Engine ('최영선', 1)
2017-08-13 07:43:17,645 INFO sqlalchemy.engine.base.Engine COMMIT

- fileter operators (1/2)
    - equals <br>
    query(User).filetr(User.name == 'Yeongseon Choe')
    - not equals <br>
    query(User).filetr(User.name != 'Yeongseon Choe')
    - like <br>
    query(User).filetr(User.name.like('Yeongseon Choe')

In [22]:
print(session.query(User).filter(User.user_name == '최영선'))

SELECT users.user_id AS users_user_id, users.user_name AS users_user_name, users.user_email AS users_user_email
FROM users
WHERE users.user_name = ?

In [23]:
session.query(User).filter(User.user_name == '최영선').all()

2017-08-13 07:43:17,766 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-13 07:43:17,767 INFO sqlalchemy.engine.base.Engine SELECT users.user_id AS users_user_id, users.user_name AS users_user_name, users.user_email AS users_user_email
FROM users
WHERE users.user_name = ?
2017-08-13 07:43:17,771 INFO sqlalchemy.engine.base.Engine ('최영선',)

In [24]:
session.query(User).filter(User.user_name != '최영선').all()

2017-08-13 07:43:17,809 INFO sqlalchemy.engine.base.Engine SELECT users.user_id AS users_user_id, users.user_name AS users_user_name, users.user_email AS users_user_email
FROM users
WHERE users.user_name != ?
2017-08-13 07:43:17,810 INFO sqlalchemy.engine.base.Engine ('최영선',)

[<User('2', '배준현, junhyun.bae@pycon.kr')>,
 <User('3', '김준기, joongi.kim@pycon.kr')>,
 <User('4', '강대성, daesung.kang@pycon.kr')>,
 <User('5', '한성준, sungjun.han@pycon.kr')>]

In [25]:
session.query(User).filter(User.user_name.like('최%')).all()

2017-08-13 07:43:17,890 INFO sqlalchemy.engine.base.Engine SELECT users.user_id AS users_user_id, users.user_name AS users_user_name, users.user_email AS users_user_email
FROM users
WHERE users.user_name LIKE ?
2017-08-13 07:43:17,893 INFO sqlalchemy.engine.base.Engine ('최%',)

- fileter operators (2/2)
    - in <br>
    query(User).filetr(User.name.in_(['최영선'])
    - not in <br>
    query(User).filetr(~User.name.in_(['최영선'])
    - is null <br>
    query(User).filetr(User.name == None)
    - is not null <br>
    query(User).filetr(User.name != None)

In [26]:
session.query(User).filter(User.user_name.in_(['최영선'])).all()

2017-08-13 07:43:17,950 INFO sqlalchemy.engine.base.Engine SELECT users.user_id AS users_user_id, users.user_name AS users_user_name, users.user_email AS users_user_email
FROM users
WHERE users.user_name IN (?)
2017-08-13 07:43:17,952 INFO sqlalchemy.engine.base.Engine ('최영선',)

In [27]:
session.query(User).filter(~User.user_name.in_(['최영선'])).all()

2017-08-13 07:43:17,990 INFO sqlalchemy.engine.base.Engine SELECT users.user_id AS users_user_id, users.user_name AS users_user_name, users.user_email AS users_user_email
FROM users
WHERE users.user_name NOT IN (?)
2017-08-13 07:43:17,992 INFO sqlalchemy.engine.base.Engine ('최영선',)

[<User('2', '배준현, junhyun.bae@pycon.kr')>,
 <User('3', '김준기, joongi.kim@pycon.kr')>,
 <User('4', '강대성, daesung.kang@pycon.kr')>,
 <User('5', '한성준, sungjun.han@pycon.kr')>]

In [28]:
session.query(User).filter(User.user_name == None).all()

2017-08-13 07:43:18,022 INFO sqlalchemy.engine.base.Engine SELECT users.user_id AS users_user_id, users.user_name AS users_user_name, users.user_email AS users_user_email
FROM users
WHERE users.user_name IS NULL
2017-08-13 07:43:18,023 INFO sqlalchemy.engine.base.Engine ()

[]

In [29]:
session.query(User).filter(User.user_name != None).all()

2017-08-13 07:43:18,058 INFO sqlalchemy.engine.base.Engine SELECT users.user_id AS users_user_id, users.user_name AS users_user_name, users.user_email AS users_user_email
FROM users
WHERE users.user_name IS NOT NULL
2017-08-13 07:43:18,059 INFO sqlalchemy.engine.base.Engine ()

[<User('1', '최영선, yeongseon.choe@pycon.kr')>,
 <User('2', '배준현, junhyun.bae@pycon.kr')>,
 <User('3', '김준기, joongi.kim@pycon.kr')>,
 <User('4', '강대성, daesung.kang@pycon.kr')>,
 <User('5', '한성준, sungjun.han@pycon.kr')>]

- Returning Lists and Scalars
    - all()
    - first()
    - one()

In [30]:
users = session.query(User).filter(User.user_name != '최영선').all()
for user in users:
   print(user)

2017-08-13 07:43:18,094 INFO sqlalchemy.engine.base.Engine SELECT users.user_id AS users_user_id, users.user_name AS users_user_name, users.user_email AS users_user_email
FROM users
WHERE users.user_name != ?
2017-08-13 07:43:18,095 INFO sqlalchemy.engine.base.Engine ('최영선',)
<User('2', '배준현, junhyun.bae@pycon.kr')>
<User('3', '김준기, joongi.kim@pycon.kr')>
<User('4', '강대성, daesung.kang@pycon.kr')>
<User('5', '한성준, sungjun.han@pycon.kr')>

In [31]:
users = session.query(User).filter(User.user_name == '최영선').first()
print(users)

2017-08-13 07:43:18,123 INFO sqlalchemy.engine.base.Engine SELECT users.user_id AS users_user_id, users.user_name AS users_user_name, users.user_email AS users_user_email
FROM users
WHERE users.user_name = ?
 LIMIT ? OFFSET ?
2017-08-13 07:43:18,124 INFO sqlalchemy.engine.base.Engine ('최영선', 1, 0)
<User('1', '최영선, yeongseon.choe@pycon.kr')>

In [32]:
users = session.query(User).filter(User.user_name.like('%영%')).one()
print(users)

2017-08-13 07:43:18,209 INFO sqlalchemy.engine.base.Engine SELECT users.user_id AS users_user_id, users.user_name AS users_user_name, users.user_email AS users_user_email
FROM users
WHERE users.user_name LIKE ?
2017-08-13 07:43:18,210 INFO sqlalchemy.engine.base.Engine ('%영%',)
<User('1', '최영선, yeongseon.choe@pycon.kr')>

In [33]:
users = session.query(User).filter(User.user_name.like('%준%')).one()

2017-08-13 07:43:18,305 INFO sqlalchemy.engine.base.Engine SELECT users.user_id AS users_user_id, users.user_name AS users_user_name, users.user_email AS users_user_email
FROM users
WHERE users.user_name LIKE ?
2017-08-13 07:43:18,306 INFO sqlalchemy.engine.base.Engine ('%준%',)

MultipleResultsFound: Multiple rows were found for one()

### Counting

In [34]:
print(session.query(User).filter(User.user_name.like('%성%')).all())

session.query(User).filter(User.user_name.like('%성%')).count()

2017-08-13 07:43:31,231 INFO sqlalchemy.engine.base.Engine SELECT users.user_id AS users_user_id, users.user_name AS users_user_name, users.user_email AS users_user_email
FROM users
WHERE users.user_name LIKE ?
2017-08-13 07:43:31,233 INFO sqlalchemy.engine.base.Engine ('%성%',)
[<User('4', '강대성, daesung.kang@pycon.kr')>, <User('5', '한성준, sungjun.han@pycon.kr')>]
2017-08-13 07:43:31,237 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT users.user_id AS users_user_id, users.user_name AS users_user_name, users.user_email AS users_user_email
FROM users
WHERE users.user_name LIKE ?) AS anon_1
2017-08-13 07:43:31,239 INFO sqlalchemy.engine.base.Engine ('%성%',)

2

### Deleting Object

In [35]:
user = session.query(User).filter(User.user_name == '최영선').first()
session.delete(user)
session.commit()

2017-08-13 07:43:33,834 INFO sqlalchemy.engine.base.Engine SELECT users.user_id AS users_user_id, users.user_name AS users_user_name, users.user_email AS users_user_email
FROM users
WHERE users.user_name = ?
 LIMIT ? OFFSET ?
2017-08-13 07:43:33,836 INFO sqlalchemy.engine.base.Engine ('최영선', 1, 0)
2017-08-13 07:43:33,838 INFO sqlalchemy.engine.base.Engine DELETE FROM users WHERE users.user_id = ?
2017-08-13 07:43:33,840 INFO sqlalchemy.engine.base.Engine (1,)
2017-08-13 07:43:33,869 INFO sqlalchemy.engine.base.Engine COMMIT

### Define Models

| Users                        ||
| :------------ | :-----------: |
| user_id       | int           |
| user_name     | varchar(32)   |
| user_email    | varchar(32)   |

| Programs                     ||
| :------------ | :-----------: |
| program_id    | int           |
| program_name  | varchar(128)  |

| Program_enrollment      ||
| :------------ | :-----------: |
| program_entrollemnt_id |int   |
| program_id    | int           |
| user_id       | int           |

In [36]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String

Base = declarative_base()

class User(Base):
    __tablename__ = "users"
    user_id = Column(Integer, primary_key=True,  autoincrement=True)
    user_name = Column(String(32), unique=True)
    user_email = Column(String(32), unique=True)
    
    def __init__(self, user_name, user_email):
        self.user_name = user_name
        self.user_email = user_email
    
    def __repr__(self):
        return "<User('%d', '%s, %s')>" % (self.user_id, self.user_name, self.user_email)
    
class Program(Base):
    __tablename__ = "programs"
    program_id = Column(Integer, primary_key=True, autoincrement=True)
    program_name = Column(String(128), unique=True)
    
    def __init__(self, program_name):
        self.program_name = program_name
        
    def __repr__(self):
        return "<Program('%d', '%s')" % (self.program_id, self.program_name)
    
from sqlalchemy import ForeignKey
class ProgramEnrollment(Base):
    __tablename__ = "program_enrollments"
    program_enrollment_id = Column(Integer, primary_key=True, autoincrement=True)
    program_id = Column(Integer, ForeignKey("programs.program_id"))
    user_id = Column(Integer, ForeignKey("users.user_id"))
    
    def __init__(self, program_id, user_id):
        self.program_id = program_id
        self.user_id = user_id
    
    def __repr__(self):
        return "<ProgramEnrollment('%d', '%d', '%d')" % (self.program_enrollment_id, self.program_id, self.user_id)
    
Base.metadata.create_all(bind=engine)

2017-08-13 07:43:35,917 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2017-08-13 07:43:35,918 INFO sqlalchemy.engine.base.Engine ()
2017-08-13 07:43:35,921 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("programs")
2017-08-13 07:43:35,922 INFO sqlalchemy.engine.base.Engine ()
2017-08-13 07:43:35,924 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("program_enrollments")
2017-08-13 07:43:35,926 INFO sqlalchemy.engine.base.Engine ()
2017-08-13 07:43:35,927 INFO sqlalchemy.engine.base.Engine
CREATE TABLE programs (
	program_id INTEGER NOT NULL,
	program_name VARCHAR(128),
	PRIMARY KEY (program_id),
	UNIQUE (program_name)
)


2017-08-13 07:43:35,929 INFO sqlalchemy.engine.base.Engine ()
2017-08-13 07:43:35,976 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-13 07:43:35,977 INFO sqlalchemy.engine.base.Engine
CREATE TABLE program_enrollments (
	program_enrollment_id INTEGER NOT NULL,
	program_id INTEGER,
	user_id INTEGER,
	PRIMARY KEY (program_enrollment_id),
	FOREIGN KEY(program_id) REFERENCES programs (program_id),
	FOREIGN KEY(user_id) REFERENCES users (user_id)
)


2017-08-13 07:43:35,978 INFO sqlalchemy.engine.base.Engine ()
2017-08-13 07:43:36,003 INFO sqlalchemy.engine.base.Engine COMMIT

In [37]:
Session = sessionmaker(bind=engine)
session = Session()
session.add_all([        
    Program("SQLAlchemy and Alembic"),
    Program("얼렁뚱땅 파이썬 대소동"),
    Program("Meet aiotools: asyncio Idiom Library"),
    Program("PHP에서 Django로 갈아타기"),
    Program("파이썬을 통한 주식투자 보조시스템 만들기"),
    Program("니름: 쉬운 SOA 단위 테스트")]
)
session.commit()

2017-08-13 07:43:36,236 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-13 07:43:36,238 INFO sqlalchemy.engine.base.Engine INSERT INTO programs (program_name) VALUES (?)
2017-08-13 07:43:36,239 INFO sqlalchemy.engine.base.Engine ('SQLAlchemy and Alembic',)
2017-08-13 07:43:36,270 INFO sqlalchemy.engine.base.Engine INSERT INTO programs (program_name) VALUES (?)
2017-08-13 07:43:36,271 INFO sqlalchemy.engine.base.Engine ('얼렁뚱땅 파이썬 대소동',)
2017-08-13 07:43:36,273 INFO sqlalchemy.engine.base.Engine INSERT INTO programs (program_name) VALUES (?)
2017-08-13 07:43:36,274 INFO sqlalchemy.engine.base.Engine ('Meet aiotools: asyncio Idiom Library',)
2017-08-13 07:43:36,276 INFO sqlalchemy.engine.base.Engine INSERT INTO programs (program_name) VALUES (?)
2017-08-13 07:43:36,277 INFO sqlalchemy.engine.base.Engine ('PHP에서 Django로 갈아타기',)
2017-08-13 07:43:36,279 INFO sqlalchemy.engine.base.Engine INSERT INTO programs (program_name) VALUES (?)
2017-08-13 07:43:36,280 INFO sqlalchemy.engine.base.Engine ('파이썬을 통한 주식투자 보조시스템 만들기',)
2017-08-13 07:43:36,281 INFO sqlalchemy.engine.base.Engine INSERT INTO programs (program_name) VALUES (?)
2017-08-13 07:43:36,282 INFO sqlalchemy.engine.base.Engine ('니름: 쉬운 SOA 단위 테스트',)
2017-08-13 07:43:36,285 INFO sqlalchemy.engine.base.Engine COMMIT

In [38]:
session.query(User).all()

2017-08-13 07:43:36,829 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-13 07:43:36,831 INFO sqlalchemy.engine.base.Engine SELECT users.user_id AS users_user_id, users.user_name AS users_user_name, users.user_email AS users_user_email
FROM users
2017-08-13 07:43:36,832 INFO sqlalchemy.engine.base.Engine ()

[<User('2', '배준현, junhyun.bae@pycon.kr')>,
 <User('3', '김준기, joongi.kim@pycon.kr')>,
 <User('4', '강대성, daesung.kang@pycon.kr')>,
 <User('5', '한성준, sungjun.han@pycon.kr')>]

In [39]:
session.query(Program).all()

2017-08-13 07:43:37,226 INFO sqlalchemy.engine.base.Engine SELECT programs.program_id AS programs_program_id, programs.program_name AS programs_program_name
FROM programs
2017-08-13 07:43:37,228 INFO sqlalchemy.engine.base.Engine ()

[<Program('1', 'SQLAlchemy and Alembic'),
 <Program('2', '얼렁뚱땅 파이썬 대소동'),
 <Program('3', 'Meet aiotools: asyncio Idiom Library'),
 <Program('4', 'PHP에서 Django로 갈아타기'),
 <Program('5', '파이썬을 통한 주식투자 보조시스템 만들기'),
 <Program('6', '니름: 쉬운 SOA 단위 테스트')]

In [40]:
session.add_all([
    ProgramEnrollment(1, 2),
    ProgramEnrollment(1, 3),
    ProgramEnrollment(1, 4)]
)
session.commit()

2017-08-13 07:43:37,687 INFO sqlalchemy.engine.base.Engine INSERT INTO program_enrollments (program_id, user_id) VALUES (?, ?)
2017-08-13 07:43:37,689 INFO sqlalchemy.engine.base.Engine (1, 2)
2017-08-13 07:43:37,711 INFO sqlalchemy.engine.base.Engine INSERT INTO program_enrollments (program_id, user_id) VALUES (?, ?)
2017-08-13 07:43:37,712 INFO sqlalchemy.engine.base.Engine (1, 3)
2017-08-13 07:43:37,714 INFO sqlalchemy.engine.base.Engine INSERT INTO program_enrollments (program_id, user_id) VALUES (?, ?)
2017-08-13 07:43:37,715 INFO sqlalchemy.engine.base.Engine (1, 4)
2017-08-13 07:43:37,716 INFO sqlalchemy.engine.base.Engine COMMIT

In [41]:
session.query(ProgramEnrollment).all()

2017-08-13 07:43:38,149 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-13 07:43:38,150 INFO sqlalchemy.engine.base.Engine SELECT program_enrollments.program_enrollment_id AS program_enrollments_program_enrollment_id, program_enrollments.program_id AS program_enrollments_program_id, program_enrollments.user_id AS program_enrollments_user_id
FROM program_enrollments
2017-08-13 07:43:38,151 INFO sqlalchemy.engine.base.Engine ()

[<ProgramEnrollment('1', '1', '2'),
 <ProgramEnrollment('2', '1', '3'),
 <ProgramEnrollment('3', '1', '4')]

### Querying with Joins

- Query.join()

In [42]:
session.query(User).join(ProgramEnrollment).filter(ProgramEnrollment.program_id == 1).all()

2017-08-13 07:43:39,061 INFO sqlalchemy.engine.base.Engine SELECT users.user_id AS users_user_id, users.user_name AS users_user_name, users.user_email AS users_user_email
FROM users JOIN program_enrollments ON users.user_id = program_enrollments.user_id
WHERE program_enrollments.program_id = ?
2017-08-13 07:43:39,062 INFO sqlalchemy.engine.base.Engine (1,)

[<User('2', '배준현, junhyun.bae@pycon.kr')>,
 <User('3', '김준기, joongi.kim@pycon.kr')>,
 <User('4', '강대성, daesung.kang@pycon.kr')>]

In [43]:
session.query(User).join(ProgramEnrollment).filter(ProgramEnrollment.program_id == 1).count()

2017-08-13 07:43:39,475 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT users.user_id AS users_user_id, users.user_name AS users_user_name, users.user_email AS users_user_email
FROM users JOIN program_enrollments ON users.user_id = program_enrollments.user_id
WHERE program_enrollments.program_id = ?) AS anon_1
2017-08-13 07:43:39,477 INFO sqlalchemy.engine.base.Engine (1,)

3

### Table schema changes ...

| Programs                     ||
| :------------ | :-----------: |
| program_id    | int           |
| program_name  | varchar(128)  |

| Programs                     ||
| :------------ | :-----------: |
| program_id    | int           |
| program_name  | varchar(128)  |
| user_id       | varchar(32)   |

## What is the Alembic ?


- The database migration tool for SQLAlchemy
    - Creation, Management
- Wirtten by Mike Bayer the author of SQLAlchemy
- Alembic 0.9 released

### Installing Alembic

$ pip install alembic

### Usage
<pre>
usage: alembic [-h] [-c CONFIG] [-n NAME] [-x X] [--raiseerr]
               {branches,current,downgrade,edit,heads,history,init,
               list_templates,merge,revision,show,stamp,upgrade}     
</pre>

### Creating an Environment

<pre>
$ alembic init 'alembic' <br>
</pre>
```

project
│         alembic.ini
└──── alembic
      │    env.py
      │    README
      │    script.py.mako      
      └─ versions
```

  
$ vi alembic.ini

<pre>
# A generic, single database configuration.

[alembic]
# path to migration scripts
script_location = alembic

# template used to generate migration files
# file_template = %%(rev)s_%%(slug)s

# timezone to use when rendering the date
# within the migration file as well as the filename.
# string value is passed to dateutil.tz.gettz()
# leave blank for localtime
# timezone =

# max length of characters to apply to the
# "slug" field
#truncate_slug_length = 40

# set to 'true' to run the environment during
# the 'revision' command, regardless of autogenerate
# revision_environment = false

# set to 'true' to allow .pyc and .pyo files without
# a source .py file to be detected as revisions in the
# versions/ directory
# sourceless = false

# version location specification; this defaults
# to alembic/versions.  When using multiple version
# directories, initial revisions must be specified with --version-path
# version_locations = %(here)s/bar %(here)s/bat alembic/versions

# the output encoding used when revision files
# are written from script.py.mako
# output_encoding = utf-8
<span style="color:red">sqlalchemy.url = sqlite:///alembic.sqlite</span>

# Logging configuration
[loggers]
keys = root,sqlalchemy,alembic

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = WARN
handlers = console
qualname =

[logger_sqlalchemy]
level = WARN
handlers =
qualname = sqlalchemy.engine

[logger_alembic]
level = INFO
handlers =
qualname = alembic

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(levelname)-5.5s [%(name)s] %(message)s
datefmt = %H:%M:%S

</pre>

### Creating a Migration Script
<pre>
$ alembic revision -m "create tables"
</pre>
<br>
```
project
│         alembic.ini
└──── alembic
      │    env.py
      │    README
      │    script.py.mako      
      └─ versions
          │   506aac89f70c_create_tables.py
```

<pre>
$ vi alembic/versions/506aac89f70c_create_tables.py
</pre>

In [44]:
"""create tables

Revision ID: 506aac89f70
Revises: 
Create Date: 2017-07-29 22:19:30.546010

"""
from alembic import op
import sqlalchemy as sa


# revision identifiers, used by Alembic.
revision = '506aac89f70'
down_revision = None
branch_labels = None
depends_on = None


def upgrade():
    pass


def downgrade():
    pass

#### Editing the migration script

In [45]:
"""create tables

Revision ID: 506aac89f70c
Revises:
Create Date: 2017-08-09 22:14:41.836325

"""
from alembic import op
import sqlalchemy as sa


# revision identifiers, used by Alembic.
revision = '506aac89f70c'
down_revision = None
branch_labels = None
depends_on = None


def upgrade():
    op.create_table(
        "users",
        sa.Column("user_id", sa.Integer, primary_key=True, autoincrement=True),    
        sa.Column("user_name", sa.String(32), unique=True),
        sa.Column("user_email", sa.String(32), unique=True),
    )

    op.create_table(
        "programs",
        sa.Column("program_id", sa.Integer, primary_key=True, autoincrement=True),
        sa.Column("program_name", sa.String(128), unique=True),
    )

    op.create_table(
        "program_enrollments",
        sa.Column("program_enrollment_id", sa.Integer, primary_key=True, autoincrement=True),
        sa.Column("program_id", sa.Integer, sa.ForeignKey("programs.program_id")),
        sa.Column("user_id", sa.Integer, sa.ForeignKey("users.user_id")),
    )

def downgrade():
    op.drop_table("users")
    op.drop_table("programs")
    op.drop_table("program_enrollments")

 <pre>
 $ alembic upgrade head
 
INFO  [alembic.runtime.migration] Context impl SQLiteImpl.
INFO  [alembic.runtime.migration] Will assume non-transactional DDL.
INFO  [alembic.runtime.migration] Running upgrade  -> 506aac89f70c, create tables
</pre>

<pre>
$ sqlite alembic.sqlite

<img src='img/create_table.png'>

In [46]:
engine = create_engine("sqlite:///alembic.sqlite", echo=True, convert_unicode=True)

In [48]:
Session = sessionmaker(bind=engine)
session = Session()
session.add_all([        
    Program("SQLAlchemy and Alembic"),
    Program("얼렁뚱땅 파이썬 대소동"),
    Program("Meet aiotools: asyncio Idiom Library")]
)
session.commit()

2017-08-13 07:44:36,790 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-13 07:44:36,791 INFO sqlalchemy.engine.base.Engine INSERT INTO programs (program_name) VALUES (?)
2017-08-13 07:44:36,792 INFO sqlalchemy.engine.base.Engine ('SQLAlchemy and Alembic',)
2017-08-13 07:44:36,811 INFO sqlalchemy.engine.base.Engine INSERT INTO programs (program_name) VALUES (?)
2017-08-13 07:44:36,811 INFO sqlalchemy.engine.base.Engine ('얼렁뚱땅 파이썬 대소동',)
2017-08-13 07:44:36,813 INFO sqlalchemy.engine.base.Engine INSERT INTO programs (program_name) VALUES (?)
2017-08-13 07:44:36,814 INFO sqlalchemy.engine.base.Engine ('Meet aiotools: asyncio Idiom Library',)
2017-08-13 07:44:36,815 INFO sqlalchemy.engine.base.Engine COMMIT

In [49]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String

Base = declarative_base()

class Program(Base):
    __tablename__ = "programs"
    program_id = Column(Integer, primary_key=True, autoincrement=True)
    program_name = Column(String(128), unique=True)
    user_id = Column(Integer, primary_key=True)
    
    def __init__(self, program_name, user_id):
        self.program_name = program_name
        self.user_id = user_id
        
    def __repr__(self):
        return "<Program('%d', '%s', '%d')" % (self.program_id, self.program_name, self.user_id)

<pre>
$ alembic revision -m "Add a column"
</pre>
<br>
```
project
│         alembic.ini
└──── alembic
      │    env.py
      │    README
      │    script.py.mako      
      └─ versions
          │   506aac89f70c_create_tables.py
          │   aadc5fd970b1_add_a_column.py
```

In [50]:
"""Add a column

Revision ID: aadc5fd970b1
Revises: 506aac89f70c
Create Date: 2017-08-09 23:35:11.905893

"""
from alembic import op
import sqlalchemy as sa


# revision identifiers, used by Alembic.
revision = 'aadc5fd970b1'
down_revision = '506aac89f70c'
branch_labels = None
depends_on = None


def upgrade():
    op.add_column(
        "programs",        
        sa.Column("user_id", sa.Integer, primary_key=True, nullable=True),
    )


def downgrade():
    pass

<pre>
$ alembic current
INFO  [alembic.runtime.migration] Context impl SQLiteImpl.
INFO  [alembic.runtime.migration] Will assume non-transactional DDL.
506aac89f70c

$ alembic upgrade head
INFO  [alembic.runtime.migration] Context impl SQLiteImpl.
INFO  [alembic.runtime.migration] Will assume non-transactional DDL.
INFO  [alembic.runtime.migration] Running upgrade 506aac89f70c -> aadc5fd970b1, Add a column

$ alembic history
506aac89f70c -> aadc5fd970b1 (head), Add a column
<base> -> 506aac89f70c, create tables

</pre>

<pre>
$ sqlite alembic.sqlite

<img src='img/add_column.png'>

In [51]:
Session = sessionmaker(bind=engine)
session = Session()
session.add_all([        
    Program("PHP에서 Django로 갈아타기", 4),
    Program("파이썬을 통한 주식투자 보조시스템 만들기", 5),
    Program("니름: 쉬운 SOA 단위 테스트", 6)]
)
session.commit()

2017-08-13 07:44:46,693 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-13 07:44:46,694 INFO sqlalchemy.engine.base.Engine INSERT INTO programs (program_name, user_id) VALUES (?, ?)
2017-08-13 07:44:46,696 INFO sqlalchemy.engine.base.Engine ('PHP에서 Django로 갈아타기', 4)
2017-08-13 07:44:46,711 INFO sqlalchemy.engine.base.Engine INSERT INTO programs (program_name, user_id) VALUES (?, ?)
2017-08-13 07:44:46,712 INFO sqlalchemy.engine.base.Engine ('파이썬을 통한 주식투자 보조시스템 만들기', 5)
2017-08-13 07:44:46,713 INFO sqlalchemy.engine.base.Engine INSERT INTO programs (program_name, user_id) VALUES (?, ?)
2017-08-13 07:44:46,714 INFO sqlalchemy.engine.base.Engine ('니름: 쉬운 SOA 단위 테스트', 6)
2017-08-13 07:44:46,715 INFO sqlalchemy.engine.base.Engine COMMIT

In [52]:
session.query(Program).filter(Program.user_id < 3).all()

2017-08-13 07:44:48,402 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-13 07:44:48,404 INFO sqlalchemy.engine.base.Engine SELECT programs.program_id AS programs_program_id, programs.program_name AS programs_program_name, programs.user_id AS programs_user_id
FROM programs
WHERE programs.user_id < ?
2017-08-13 07:44:48,405 INFO sqlalchemy.engine.base.Engine (3,)

[]

In [53]:
session.query(Program).filter(Program.user_id > 3).all()

2017-08-13 07:44:53,263 INFO sqlalchemy.engine.base.Engine SELECT programs.program_id AS programs_program_id, programs.program_name AS programs_program_name, programs.user_id AS programs_user_id
FROM programs
WHERE programs.user_id > ?
2017-08-13 07:44:53,264 INFO sqlalchemy.engine.base.Engine (3,)

[<Program('4', 'PHP에서 Django로 갈아타기', '4'),
 <Program('5', '파이썬을 통한 주식투자 보조시스템 만들기', '5'),
 <Program('6', '니름: 쉬운 SOA 단위 테스트', '6')]

In [54]:
import os

#os.remove('dbapi.sqlite')
#os.remove('sqlalchemy.sqlite')
#os.remove('alembic.sqlite')

<br>
<br>
<br>
<div style="text-align: center; font-weight: bold; font-size: 250%;">
Q&A 
</div>
<br>
<br>
<br>

<br>
<br>
<br>
<div style="text-align: center; font-weight: bold; font-size: 250%;">
Happy Pythoning!
</div>
<br>
<br>
<br>