Installation

pip install sqlalchemy

Connection

In [1]:
from sqlalchemy import create_engine

In [2]:
engine = create_engine("sqlite:///sample.sqlite", echo=True, convert_unicode=True)

Mapping

In [3]:
from sqlalchemy.ext.declarative import declarative_base

In [4]:
Base = declarative_base()

Defining models

| User                         ||
| :------------ | :-----------: |
| user_id       | int           |
| user_name     | varchar(32)   |
| user_email    | varchar(32)   |

| Program                      ||
| :------------ | :-----------: |
| program_id    | int           |
| program_name  | varchar(32)   |
| user_id       | varchar(32)   |

| ProgramEnrollment            ||
| :------------ | :-----------: |
| program_id    | int           |
| user_id       | int           |

In [5]:
from sqlalchemy import Column, Integer, String

In [6]:
class User(Base):
    __tablename__ = "user"
    user_id = Column(Integer, primary_key=True)
    user_name = Column(String(32), unique=True)
    user_email = Column(String(32), unique=True)
    
    def __init__(self, user_name, user_email):
        self.user_name = user_name
        self.user_email = user_email
    
    def __repr__(self):
        return "<User('%s', '%s')>" % (self.user_name, self.user_email)

In [7]:
class Program(Base):
    __tablename__ = "speaker"
    program_id = Column(Integer, primary_key=True)
    user_id = Column(Integer, unique=True)
    
    def __init__(self, program_id, user_id):
        self.program_id = program_id
        self.user_id = user_id
        
    def __repr__(self):
        return "<Program('%d', '%d')" % (self.program_id, self.user_id)

In [8]:
class ProgramEnrollment(Base):
    __tablename__ = "program_entrollment"
    program_id = Column(Integer, primary_key = True)
    user_id = Column(Integer, primary_key = True)   
    
    def __init__(self, program_id, user_id):
        self.program_id = program_id
        self.user_id = user_id
    
    def __repr__(self):
        return "<ProgramEnrollment('%s', '%s')" % (self.program_id, self.user_id)

Metadata

In [9]:
User.__table__

Table('user', MetaData(bind=None), Column('user_id', Integer(), table=<user>, primary_key=True, nullable=False), Column('user_name', String(length=32), table=<user>), Column('user_email', String(length=32), table=<user>), schema=None)

In [10]:
Program.__table__

Table('speaker', MetaData(bind=None), Column('program_id', Integer(), table=<speaker>, primary_key=True, nullable=False), Column('user_id', Integer(), table=<speaker>), schema=None)

In [11]:
ProgramEnrollment.__table__

Table('program_entrollment', MetaData(bind=None), Column('program_id', Integer(), table=<program_entrollment>, primary_key=True, nullable=False), Column('user_id', Integer(), table=<program_entrollment>, primary_key=True, nullable=False), schema=None)

Mapper Class

In [12]:
User.__mapper__

In [13]:
Program.__mapper__

In [14]:
ProgramEnrollment.__mapper__

Create databae

In [15]:
Base.metadata.create_all(bind=engine)

2017-07-25 00:09:01,155 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-07-25 00:09:01,169 INFO sqlalchemy.engine.base.Engine ()
2017-07-25 00:09:01,173 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-07-25 00:09:01,175 INFO sqlalchemy.engine.base.Engine ()
2017-07-25 00:09:01,180 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("user")
2017-07-25 00:09:01,182 INFO sqlalchemy.engine.base.Engine ()
2017-07-25 00:09:01,186 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("speaker")
2017-07-25 00:09:01,188 INFO sqlalchemy.engine.base.Engine ()
2017-07-25 00:09:01,190 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("program_entrollment")
2017-07-25 00:09:01,192 INFO sqlalchemy.engine.base.Engine ()
2017-07-25 00:09:01,195 INFO sqlalchemy.engine.base.Engine
CREATE TABLE user (
	user_id INTEGER NOT NULL,
	user_name VARCHAR(32),
	user_email VARCHAR(32),
	PRIMARY KEY (user_id),
	UNIQUE (user_name),
	UNIQUE (user_email)
)


2017-07-25 00:09:01,197 INFO sqlalchemy.engine.base.Engine ()
2017-07-25 00:09:01,234 INFO sqlalchemy.engine.base.Engine COMMIT
2017-07-25 00:09:01,237 INFO sqlalchemy.engine.base.Engine
CREATE TABLE speaker (
	program_id INTEGER NOT NULL,
	user_id INTEGER,
	PRIMARY KEY (program_id),
	UNIQUE (user_id)
)


2017-07-25 00:09:01,239 INFO sqlalchemy.engine.base.Engine ()
2017-07-25 00:09:01,272 INFO sqlalchemy.engine.base.Engine COMMIT
2017-07-25 00:09:01,274 INFO sqlalchemy.engine.base.Engine
CREATE TABLE program_entrollment (
	program_id INTEGER NOT NULL,
	user_id INTEGER NOT NULL,
	PRIMARY KEY (program_id, user_id)
)


2017-07-25 00:09:01,277 INFO sqlalchemy.engine.base.Engine ()
2017-07-25 00:09:01,315 INFO sqlalchemy.engine.base.Engine COMMIT

Session

In [16]:
from sqlalchemy.orm import sessionmaker

1. create Session class

In [17]:
Session1 = sessionmaker(bind=engine)

In [18]:
Session1

sessionmaker(class_='Session',bind=Engine(sqlite:///sample.sqlite), autoflush=True, autocommit=False, expire_on_commit=True)

2.

In [19]:
Session2 = sessionmaker()

In [20]:
Session2

sessionmaker(class_='Session',bind=None, autoflush=True, autocommit=False, expire_on_commit=True)

In [21]:
Session2.configure(bind=engine)

In [22]:
Session2

sessionmaker(class_='Session',bind=Engine(sqlite:///sample.sqlite), autoflush=True, autocommit=False, expire_on_commit=True)

In [23]:
session = Session1()

In [24]:
session

Insert

In [25]:
user = User("Steven", "Steven@test.com")

In [26]:
user

In [27]:
session.add(user)
session.commit()

2017-07-25 00:09:01,682 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-07-25 00:09:01,685 INFO sqlalchemy.engine.base.Engine INSERT INTO user (user_name, user_email) VALUES (?, ?)
2017-07-25 00:09:01,689 INFO sqlalchemy.engine.base.Engine ('Steven', 'Steven@test.com')
2017-07-25 00:09:01,695 INFO sqlalchemy.engine.base.Engine COMMIT

In [28]:
session.add_all([
    User("Noah", "Noah@test.com"),
    User("Liam", "Liam@test.com"),
    User("Ethan", "Ethan@test.com")]
)
session.commit()

2017-07-25 00:09:01,759 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-07-25 00:09:01,763 INFO sqlalchemy.engine.base.Engine INSERT INTO user (user_name, user_email) VALUES (?, ?)
2017-07-25 00:09:01,767 INFO sqlalchemy.engine.base.Engine ('Noah', 'Noah@test.com')
2017-07-25 00:09:01,776 INFO sqlalchemy.engine.base.Engine INSERT INTO user (user_name, user_email) VALUES (?, ?)
2017-07-25 00:09:01,781 INFO sqlalchemy.engine.base.Engine ('Liam', 'Liam@test.com')
2017-07-25 00:09:01,786 INFO sqlalchemy.engine.base.Engine INSERT INTO user (user_name, user_email) VALUES (?, ?)
2017-07-25 00:09:01,790 INFO sqlalchemy.engine.base.Engine ('Ethan', 'Ethan@test.com')
2017-07-25 00:09:01,796 INFO sqlalchemy.engine.base.Engine COMMIT

Bulk Inserts

In [29]:
user1 = User("Lucas", "Lucas@test.com")
user2 = User("Oliver", "Oliver@test.com")
user3 = User("James", "James@test.com")

session.bulk_save_objects([user1, user2, user3])
session.commit()

2017-07-25 00:09:01,847 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-07-25 00:09:01,855 INFO sqlalchemy.engine.base.Engine INSERT INTO user (user_name, user_email) VALUES (?, ?)
2017-07-25 00:09:01,861 INFO sqlalchemy.engine.base.Engine (('Lucas', 'Lucas@test.com'), ('Oliver', 'Oliver@test.com'), ('James', 'James@test.com'))
2017-07-25 00:09:01,878 INFO sqlalchemy.engine.base.Engine COMMIT

query

attributes
- all
- filter
- filter_by

In [30]:
users = session.query(User).all()

2017-07-25 00:09:01,939 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-07-25 00:09:01,944 INFO sqlalchemy.engine.base.Engine SELECT user.user_id AS user_user_id, user.user_name AS user_user_name, user.user_email AS user_user_email
FROM user
2017-07-25 00:09:01,945 INFO sqlalchemy.engine.base.Engine ()

In [31]:
print(users)

[<User('Steven', 'Steven@test.com')>, <User('Noah', 'Noah@test.com')>, <User('Liam', 'Liam@test.com')>, <User('Ethan', 'Ethan@test.com')>, <User('Lucas', 'Lucas@test.com')>, <User('Oliver', 'Oliver@test.com')>, <User('James', 'James@test.com')>]

Iterator

In [32]:
for user in session.query(User):
    print(user)

2017-07-25 00:09:02,005 INFO sqlalchemy.engine.base.Engine SELECT user.user_id AS user_user_id, user.user_name AS user_user_name, user.user_email AS user_user_email
FROM user
2017-07-25 00:09:02,009 INFO sqlalchemy.engine.base.Engine ()
<User('Steven', 'Steven@test.com')>
<User('Noah', 'Noah@test.com')>
<User('Liam', 'Liam@test.com')>
<User('Ethan', 'Ethan@test.com')>
<User('Lucas', 'Lucas@test.com')>
<User('Oliver', 'Oliver@test.com')>
<User('James', 'James@test.com')>

In [33]:
for user in session.query(User).order_by(User.user_email):
    print(user)

2017-07-25 00:09:02,045 INFO sqlalchemy.engine.base.Engine SELECT user.user_id AS user_user_id, user.user_name AS user_user_name, user.user_email AS user_user_email
FROM user ORDER BY user.user_email
2017-07-25 00:09:02,047 INFO sqlalchemy.engine.base.Engine ()
<User('Ethan', 'Ethan@test.com')>
<User('James', 'James@test.com')>
<User('Liam', 'Liam@test.com')>
<User('Lucas', 'Lucas@test.com')>
<User('Noah', 'Noah@test.com')>
<User('Oliver', 'Oliver@test.com')>
<User('Steven', 'Steven@test.com')>

Decending

In [34]:
from sqlalchemy import desc
for user in session.query(User).order_by(desc(User.user_email)):
    print(user)

2017-07-25 00:09:02,082 INFO sqlalchemy.engine.base.Engine SELECT user.user_id AS user_user_id, user.user_name AS user_user_name, user.user_email AS user_user_email
FROM user ORDER BY user.user_email DESC
2017-07-25 00:09:02,086 INFO sqlalchemy.engine.base.Engine ()
<User('Steven', 'Steven@test.com')>
<User('Oliver', 'Oliver@test.com')>
<User('Noah', 'Noah@test.com')>
<User('Lucas', 'Lucas@test.com')>
<User('Liam', 'Liam@test.com')>
<User('James', 'James@test.com')>
<User('Ethan', 'Ethan@test.com')>

Limiting

In [35]:
for user in session.query(User).order_by(User.user_email).limit(2):
    print(user)

2017-07-25 00:09:02,120 INFO sqlalchemy.engine.base.Engine SELECT user.user_id AS user_user_id, user.user_name AS user_user_name, user.user_email AS user_user_email
FROM user ORDER BY user.user_email
 LIMIT ? OFFSET ?
2017-07-25 00:09:02,126 INFO sqlalchemy.engine.base.Engine (2, 0)
<User('Ethan', 'Ethan@test.com')>
<User('James', 'James@test.com')>

filter_by

In [37]:
session.query(User).filter_by(User.user_name='steven').first()

SyntaxError: keyword can't be an expression (<ipython-input-37-dd871be41b3c>, line 1)

query filter

Usage: .filter(<질의 클래스.질의 칼럼> <비교연산자> <비교값>)

In [38]:
session.query(User).filter(User.user_name == 'Noah').all()

2017-07-25 00:11:02,684 INFO sqlalchemy.engine.base.Engine SELECT user.user_id AS user_user_id, user.user_name AS user_user_name, user.user_email AS user_user_email
FROM user
WHERE user.user_name = ?
2017-07-25 00:11:02,686 INFO sqlalchemy.engine.base.Engine ('Noah',)

In [39]:
session.query(User).filter(User.user_name == 'Noah').first()

2017-07-25 00:11:03,685 INFO sqlalchemy.engine.base.Engine SELECT user.user_id AS user_user_id, user.user_name AS user_user_name, user.user_email AS user_user_email
FROM user
WHERE user.user_name = ?
 LIMIT ? OFFSET ?
2017-07-25 00:11:03,688 INFO sqlalchemy.engine.base.Engine ('Noah', 1, 0)

In [40]:
session.query(User).filter(User.user_name >= 'Noah').all()

2017-07-25 00:11:07,022 INFO sqlalchemy.engine.base.Engine SELECT user.user_id AS user_user_id, user.user_name AS user_user_name, user.user_email AS user_user_email
FROM user
WHERE user.user_name >= ?
2017-07-25 00:11:07,025 INFO sqlalchemy.engine.base.Engine ('Noah',)

[<User('Noah', 'Noah@test.com')>,
 <User('Oliver', 'Oliver@test.com')>,
 <User('Steven', 'Steven@test.com')>]

Clauseelements

In [43]:
session.query(User).filter(User.user_name.like('%oa%')).all()

2017-07-25 00:12:37,559 INFO sqlalchemy.engine.base.Engine SELECT user.user_id AS user_user_id, user.user_name AS user_user_name, user.user_email AS user_user_email
FROM user
WHERE user.user_name LIKE ?
2017-07-25 00:12:37,561 INFO sqlalchemy.engine.base.Engine ('%oa%',)

Clauseelement methods
- between(cleft, cright): Find where the column is between cleft and cright
- distinct(): Find only unique values for column
- in\_([list]): Find where the column is in the list
- in\_(None): Find where the column is None
- contains('string'): Find where the column has 'string' in it
- endwith('string'): Find where the column ends with 'string'
- startwith('string'): Find whre the column begins with 'string'
- lke('string'): Find where the column is like 'string'

Conjunctions

Update

In [46]:
oliver = session.query(User).filter(User.user_name == 'Oliver').first()

2017-07-25 00:19:25,927 INFO sqlalchemy.engine.base.Engine SELECT user.user_id AS user_user_id, user.user_name AS user_user_name, user.user_email AS user_user_email
FROM user
WHERE user.user_name = ?
 LIMIT ? OFFSET ?
2017-07-25 00:19:25,930 INFO sqlalchemy.engine.base.Engine ('Oliver', 1, 0)

In [48]:
oliver.user_mail = "oliver@sample.com"
session.commit()

2017-07-25 00:20:01,413 INFO sqlalchemy.engine.base.Engine COMMIT

In [50]:
print(oliver.user_mail)

oliver@sample.com

Delete

In [51]:
oliver = session.query(User).filter(User.user_name == 'Oliver').first()

2017-07-25 00:21:52,307 INFO sqlalchemy.engine.base.Engine SELECT user.user_id AS user_user_id, user.user_name AS user_user_name, user.user_email AS user_user_email
FROM user
WHERE user.user_name = ?
 LIMIT ? OFFSET ?
2017-07-25 00:21:52,310 INFO sqlalchemy.engine.base.Engine ('Oliver', 1, 0)

In [53]:
session.delete(oliver)
session.commit()

2017-07-25 00:22:34,219 INFO sqlalchemy.engine.base.Engine DELETE FROM user WHERE user.user_id = ?
2017-07-25 00:22:34,222 INFO sqlalchemy.engine.base.Engine (6,)
2017-07-25 00:22:34,227 INFO sqlalchemy.engine.base.Engine COMMIT

In [54]:
oliver = session.query(User).filter(User.user_name == 'Oliver').first()

2017-07-25 00:22:45,591 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-07-25 00:22:45,594 INFO sqlalchemy.engine.base.Engine SELECT user.user_id AS user_user_id, user.user_name AS user_user_name, user.user_email AS user_user_email
FROM user
WHERE user.user_name = ?
 LIMIT ? OFFSET ?
2017-07-25 00:22:45,597 INFO sqlalchemy.engine.base.Engine ('Oliver', 1, 0)

In [55]:
print(oliver)

None